img {
    height: 450px;
}
.movieInfo {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    z-index: 3;
}
.movieInfo .info {
    margin-left: 36px;
    padding: 16px;
}
.movieInfo .title {
    font-weight: 500;
}
.movieInfo .subtitle {
    font-weight: 500;
}